<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Show</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('touristAttractions')}"></nav>
    <main class="container pt-5 mt-5">
        <h1 th:text="${touristAttraction.getName()}"></h1>
        <section class="row">
            <div class="col-12">
                <h2>Info:</h2>
                <ul class="list-unstyled" th:object="${touristAttraction}">
                    <li>Id: [[*{id}]]</li>
                    <li>Name: [[*{name}]]</li>
                    <li>Address: [[*{address}]]</li>
                    <li>Ticket price: [[*{ticketPrice}]]€</li>
                    <li>Opening hours: [[*{openingHours}]]</li>
                    <li>Website: [[*{website}]]</li>
                    <li>Description: [[*{description}]]</li>
                    <li>Created at: [[*{createdAt}]]</li>
                    <li>Updated at: [[*{updatedAt}]]</li>
                </ul>
                <h2>Photos:</h2>
                <ul th:if="${not #lists.isEmpty(touristAttraction.photos)}">
                    <li th:each="photo : ${touristAttraction.photos}">
                        <a th:href="${#strings.startsWith(photo.url, 'http') ? photo.url : 'https://' + photo.url}"
                        th:text="${photo.url}" target="_blank"></a>
                        <form th:action="@{/touristAttractions/{touristAttractionId}/photos/{photoId}/delete(touristAttractionId=${touristAttraction.id}, photoId=${photo.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questa foto?')" class="btn btn-danger">Delete</button>
                          </form>
                    </li>
                </ul>
                <div th:if="${#lists.isEmpty(touristAttraction.photos)}">
                    <p>No photos available for this attraction.</p>
                </div>
                
                <div class="d-flex justify-content-between">
                    <a th:href="@{../../cities/{id}(id=${touristAttraction.getCity().getId()})}">
                        <button class="btn btn-info">Back to the city</button>
                    </a>
                    <a th:href="@{/touristAttractions}">
                        <button class="btn btn-info">Back to the attractions</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>