<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Cities Index</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('cities')}"></nav>
    <main class="container pt-5 mt-5">
        <h1>Choose a city that fit you!</h1>
        <section class="row">
            <div class="col-12">
                <form th:action="@{/cities/search}" method="get" class="d-flex mb-4">
                    <input type="text" name="query" class="form-control me-2" placeholder="Search by city name..." th:value="${query}">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                    <a th:href="@{/cities}" class="btn btn-outline-warning mx-2">Reset</a>
                </form>
                <table class="table" th:if="${cities.size() > 0}">
                    <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Province:</th>
                            <th>Region:</th>
                            <th>Country:</th>
                            <th>Postal Code:</th>
                            <th>See more:</th>
                            <th>Edit:</th>
                            <th>Delete:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="city : ${cities}" th:object="${city}">
                            <td>[[*{id}]]</td>
                            <td>[[*{name}]]</td>
                            <td>[[*{province}]]</td>
                            <td>[[*{region}]]</td>
                            <td>[[*{country}]]</td>
                            <td>[[*{postal_code}]]</td>
                            <td>
                                <a th:href="@{/cities/{id}(id=*{id})}"> 
                                    <button class="btn btn-info">
                                        <strong>Details</strong>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/cities/edit/{id}(id=*{id})}">
                                    <button class="btn btn-primary">
                                        <strong>Edit</strong>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <!--Form-->
                                <form action="#" th:action="@{/cities/delete/{id}(id=*{id})}" method="post"> 
                                    <button type="submit" class="btn btn-danger">
                                        <strong>Delete</strong>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p th:text="'No cities available at the moment...'" th:unless="${cities.size() > 0}"></p>
            </div>

        </section>

    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>