<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Show</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('cities')}"></nav>
    <main class="container">
        <h1 th:text="${city.name}"></h1>
        <section class="row">
            <div class="col-12">
                <h2>Info:</h2>
                <ul class="list-unstyled" th:object="${city}">
                    <li>Province: [[*{province}]]</li>
                    <li>Region: [[*{region}]]</li>
                    <li>Country: [[*{country}]]</li>
                    <li>Postal code: [[*{postal_code}]]</li>
                </ul>

                
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <h2>Attractions: </h2>
            <table class="table" th:if="${city.touristAttractions.size() > 0}"> 
                    <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Ticket Price:</th>
                            <th>Website:</th>
                            <th>See more:</th>
                            <th>Edit:</th>
                            <th>Delete:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="attraction : ${city.touristAttractions}">
                            <td th:text="${attraction.id}"></td>
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.ticketPrice+ ' €'}"></td>
                            <td>
                                <a th:href="${attraction.website}" th:text="${attraction.website}" target="_blank"></a>
                            </td>
                            <td>
                                <a th:href="@{/touristAttractions/{id}(id=*{id})}">
                                    <button class="btn btn-info">
                                        <strong>Details</strong>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/cities/edit/{id}(id=*{city.getId()})}"> 
                                    <button class="btn btn-primary">
                                        <strong>Edit</strong>
                                    </button>
                                </a>
                            </td>
                            <td>
                               <form action="#" th:action="@{/cities/delete/{id}(id=*{id})}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <strong>Delete</strong>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p th:text="'No attractions available at the moment...'" th:unless="${city.touristAttractions.size() > 0}"></p>
            
                
            </div>
        </section>

        <a th:href="@{../cities}">
            <button class="btn btn-info">Back to the cities</button>
        </a>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>