<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Show</title>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('cities')}"></nav>
    <main class="container pt-5 mt-5">
        <h1 th:text="${city.name}"></h1>
        <section class="row">
            <div class="col-12">
                <h2>Info:</h2>
                <ul class="list-unstyled" th:object="${city}">
                    <li>Province: [[*{province}]]</li>
                    <li>Region: [[*{region}]]</li>
                    <li>Country: [[*{country}]]</li>
                    <li>Postal code: [[*{postal_code}]]</li>
                    <li>
                        <strong>Photos:</strong>
                        <ul>
                            <li th:each="photo : *{photos}">
                                <a th:href="${#strings.startsWith(photo.url, 'http') ? photo.url : 'https://' + photo.url}"
                                   th:text="${photo.url}" target="_blank">
                                </a>
                                <form th:action="@{/cities/{cityId}/photos/{photoId}/delete(cityId=${city.id}, photoId=${photo.id})}" method="post" style="display:inline;" sec:authorize="hasAuthority('ADMIN')">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questa foto?')" class="btn btn-danger">Delete</button>
                                  </form>
                            </li>
                        </ul>
                    </li>
                </ul>

                
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <h2>Attractions: </h2>
            <table class="table" th:if="${city.touristAttractions.size() > 0}"> 
                    <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Ticket Price:</th>
                            <th>Website:</th>
                            <th>See more:</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Edit:</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Delete:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="attraction : ${city.touristAttractions}">
                            <td th:text="${attraction.id}"></td>
                            <td th:text="${attraction.name}"></td>
                            <td th:text="${attraction.ticketPrice+ ' €'}"></td>
                            <td>
                                <a th:href="${attraction.website}" th:text="${attraction.website}" target="_blank"></a>
                            </td>
                            <td>
                                <a th:href="@{/touristAttractions/{id}(id=${attraction.id})}">
                                    <button class="btn btn-info">
                                        <strong>Details</strong>
                                    </button>
                                </a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <a th:href="@{/touristAttractions/edit/{id}(id=${attraction.id})}"> 
                                    <button class="btn btn-primary">
                                        <strong>Edit</strong>
                                    </button>
                                </a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                               <form action="#" th:action="@{/touristAttractions/delete/{id}(id=${attraction.id})}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <strong>Delete</strong>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p th:text="'No attractions available at the moment...'" th:unless="${city.touristAttractions.size() > 0}"></p>
            
                
            </div>
        </section>

        <div class="d-flex justify-content-between">
            <a th:href="@{'/touristAttractions/create/' + ${city.id}}" sec:authorize="hasAuthority('ADMIN')">
                <button class="btn btn-warning">Add new Attraction</button>
            </a>
            <a th:href="@{../cities}">
                <button class="btn btn-info">Back to the cities</button>
            </a>
        </div>
        
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>